extend template

block css
  link(rel="stylesheet", href="/css/add.css")
block script
  script(src='/js/view.js')

block content
  .container.form-horizontal
    .row.form-group.required
      .col-md-1.control-label
        label 名称:
      .col-md-3
        input#name.form-control(value='#{ data.key }')
    .row.form-group.required
      .col-md-1.control-label
        label 描述:
      .col-md-3
        input#comment.form-control(value='#{ data.comment }')
    .row.form-group.required
      .col-md-1.control-label
        label 配置值:
      .col-md-10
        #value
      .row
        input#hidden(type='hidden', value='#{ data.value }')
    .row.form-group
      .col-md-1
      .col-md-1
        button#btn-modify.btn.btn-default 修改
      .col-md-1
        button#btn-submit.btn.btn-default 提交 
      .col-md-1
        button#btn-cancel.btn.btn-default 取消
